@import '_mixins.scss';
@import '_variables.scss';

.indicators {
  background: linear-gradient(to right,#211B19,#4D3326);

  &__list {
    display: flex;
    justify-content: center;
    padding: 69px 0 60px;

    &__item {
      width: 195px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
      }
    }

    &__img {
      fill: #c7b299;
      margin-bottom: 30px;
    }

    &__title {
      font-family: $montserrat;
      font-size: 48px;
      line-height: 36px;
      font-weight: 200;
      color: #ffffff;
      margin-bottom: 21px;
    }

    &__text {
      font-family: &montserrat;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
      color: #c7b299;
      margin-bottom: 30px;
    }
  }
}