@import '_mixins.scss';
@import '_variables.scss';


.multipurpose {
  padding: 48px 0;
  background: linear-gradient(to right,#211B19,#4D3326);
  
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {

    &__title {
      font-family: $raleway;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      color: #fff;

      &-bronze {
        color: #c7b299;
      }
    }

    &__text {
      font-family: $montserrat;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 300;
      color: #615855;
      font-style: normal;
    }

    &__link {
      color: #fff;
      text-transform: uppercase;
      font-family: $raleway;
      font-size: 14px;
      line-height: 23px;
      font-weight: 800;
      font-style: normal;
      border-radius: 3px;
      padding: 16px 28px;
      background-color: #998675;
    }
  }

}