@import '_mixins.scss';
@import '_variables.scss';

.presentation {
  background-color: #d1d1d1;
  background-image: url(../img/presentation__bg.jpg);
  padding: 210px 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__img {
    fill: #fff;
    background-color: rgba($color: #000000, $alpha: 0.15);
    border-radius: 50%;
    border: 0;
    margin: 0 auto 44px;
    display: block;
    cursor: pointer;
  }

  &__title {
    font-family: $raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    font-style: normal;
    text-align: center;
    margin-bottom: 29px;
  }

  &__text {
    font-family: $montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300; 
    color: #ffffff;
    font-style: normal;
    text-align: center;  
    width: 570px;
    margin: 0 auto 40px;
  }

  &__time {
    font-family: $montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
    font-style: normal;
    text-align: center;
  }

}